div.footer
	ul.nav
		li
			a(href="https://github.com/AranMason", target="_blank").footer-link Github
		li
			a(href="https://www.facebook.com/aran.mason", target="_blank").footer-link Facebook
		li
			a(href="https://www.linkedin.com/in/aranmason/", target="_blank").footer-link LinkedIn