nav.header
	div.header-container
		div.header-title
			a(href="/").nav-link Aran Mason
		div.header-links
			ul.nav
				li
					a(href="/about").nav-link About
				li
					a(href="/projects").nav-link Projects
				li
					a(href="/contact").nav-link Contact Me
