extends ../base

block headTitle
	title Style Guide

block bodyContent
	h1 Heading 1
	h2 Heading 2
	h3 Heading 3
	h4 Heading 4
	h5 Heading 5
	hr
	p Paragraph Text
	button Button
	br
	a(href="/style") Link
	ul
		li One
		li Two
		li Three
	ol
		li A
		li B
		li C
